@font-face {
  font-family: 'TTCommons';
  src: url('../../public/assets/TTCommonsProVariable.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'TTCommons';
  src: url('../../public/assets/TTCommonsProVariable.ttf') format('truetype');
  font-weight: 700;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ttcommons", sans-serif;
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #403f3f #000; /* thumb color and transparent track color */
}

/*Global styles*/

body {
  background-image: url('../../public/assets/Background.jpg');
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.underline {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 1px;
  background: var(--accent);
}

.color-transition {
  @apply transition-colors duration-300 ease-in-out;
}