@font-face {
  font-family: 'TTCommons';
  src: url('../../public/assets/TTCommonsProVariable.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'TTCommons';
  src: url('../../public/assets/TTCommonsProVariable.ttf') format('truetype');
  font-weight: 700;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ttcommons", sans-serif;
}

/*Global styles*/

body {
  background-image: url('../../public/assets/Background.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.underline {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 1px;
  background: var(--accent);
}

.color-transition {
  @apply transition-colors duration-300 ease-in-out;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */